body {
    display: grid;
    grid-template-areas: "title title"
                         "content sidebar"
                         "footer footer";
    grid-template-rows: 2.8em auto 2em;
    grid-template-columns: 70% 30%;

    background: #001141;
    color: #fff;
    padding: 0;
    margin: 0;

    font: 16px "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

#title {
    grid-area: title;
    background-color: #161616;
    padding: 0.6em 1em;
}

#title h1 {
    font-size: 1.2em;
    font-weight: normal;
    display: inline;
    width: 45%;
    float: left;
    margin: 0;
}

h1 span {
    font-weight: bold;
}

#title>span {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    width: 45%;
    text-align: right;
    float: right;
}

#content {
    grid-area: content;
    padding: 1em;
    background-color: #0f62fe;
}

.video-container {
    width: 80%;
    height: 30em;
    margin: 10% auto;
}

iframe {
    width: 100%;
    height: 100%;
}

#content #serif {
    margin: 2em auto 1em auto;
    font-weight: normal;
    width: 80%;
    font-size: 2.5em;
    font-family: "IBM Plex Serif", Georgia, serif;
    max-width: 18em;
}

#content h2 {
    margin: 5% 10% 3% 10%;
}

h2:after {
    content: "";
    display: block;
    margin: 0 auto 0 0;
    width: 5%;
    padding-top: 0.3em;
    border-bottom: 3px #fff solid;
}

#sidebar h2:after {
    width: 10%;
}

#collateral ul {
    display: grid;
    grid-gap: 1em;
    margin: 0 10% 3% 10%;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

#collateral li {
    margin: 0;
    padding: 0;
}

#sidebar {
    grid-area: sidebar;
    background-color: #393939;
    padding: 1em;
}

#sidebar h2 {
    font-size: 1em;
    padding: 1em 0 0 0;
}

#sidebar h3 {
    font-size: 1em;
    font-style: italic;
    margin: 2em 0 1em 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.3em;
    margin-left: 1em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer {
    grid-area: footer;
    background-color: #161616;
    padding: 0.5em 1em;
}

#footer p {
    margin: 0;
    padding: 0;
}
