---
---
<!DOCTYPE html>

<head>

    <title>IBM Think</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./plex/css/ibm-plex.min.css" rel="stylesheet" type="text/css">
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="title">
	    <h1><span>IBM Cloud Hyper Protect Services</span> Think</h1>
	    <span>IBM-id required to watch sessions</span>
    </div>

    <div id="content">
        <p id="serif">The Cloud You Want, With the Privacy and Security You Need</p>

	  <div id="videos">
            <div class="video-container">
                <iframe src="https://www.ibm.com/events/think/watch/replay/126541696/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
	  </div>

    <div id="collateral">
            <h2>Blogs</h2>
            <ul>
                {% for link in site.data.blogs %}
                {% if link.offering contains "think" %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
                {% if link.offering contains "think2019" %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
                {% if link.offering contains "think2020" %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="sidebar">
	      <h2>Videos</h2>
        <ul>
            {% for link in site.data.videos %}
            {% if link.offering contains "think" %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            {% if link.offering contains "think2019" %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            {% if link.offering contains "think2020" %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="footer">
	      <p>IBM Cloud Hyper Protect Services at THINK</p>
    </div>

</body>

